.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.chat-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  height: calc(100% - 140px);
}

.chat-header-text-box {
  margin-bottom: 10px;
}

.chat-title {
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(96.14deg, gray 3.84%, #9acb34 93.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}

.chat-suggestions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.chat-suggestion-button {
  max-width: 120px;
  padding: 8px;
  border: 1px solid #979797;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  color: #000;
}

.chat-suggestion-button:hover {
  background-color: #e0e0e0;
}

.chat-messages {
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user {
  flex-direction: row-reverse;
}

.bot {
  flex-direction: row;
}

.chat-avatar {
  border-radius: 50%;
  margin: 0 8px;
}

.chat-bubble {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  color: black;
}

.user .chat-bubble {
  background-color: #d0ebff;
  text-align: right;
}

.system .chat-bubble {
  background-color: #9acb34;
  text-align: left;
}

.chat-time {
  display: block;
  font-size: 12px;
  color: gray;
  margin-top: 4px;
}

.chat-input-container {
  display: flex;
  gap: 8px;
  padding: 10px;
}

.chat-textarea {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid black;
  border-radius: 6px;
  resize: none;
  height: 40px;
  color: #3e3e3e;
}

.chat-send-button {
  background-color: #9acb34;
  color: white;
  padding: 8px 16px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-send-button:hover {
  background-color: #b2d566;
}

.send-image {
  width: 20px;
  height: 20px;
}
