.escalation {
  border-radius: 5px;
  background-color: #f4f4f4;
}

.escalation-header {
  text-align: left;
  color: black;
  font-size: clamp(18px, 2.5vw, 25px);
  font-weight: 500;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swing {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding-top: 3px;
}

.escalation-name {
  color: #a6a6a6;
  font-size: clamp(10px, 1vw, 12px);
  font-weight: 500;

  text-align: left;
  line-height: 0.3;
  padding-top: 3px;
  text-decoration: underline;
  text-decoration-color: #a6a6a6;
}

.escalation-content {
  color: #000;
  font-size: clamp(18px, 1.7vw, 21px);
  font-weight: 500;
  text-align: left;
}

.escalation-image {
  border-radius: 50%;
  width: 10%;
}

.scroll-container {
  max-height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.escalation:first-child {
  background: #e639462b;
}

.escalation-raised {
  font-size: 10.5px;
  color: #000;
}

.escalation-image {
  width: 20px;
  height: 20px;
}
