.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.greeting-title {
  font-weight: 500;
  font-size: clamp(24px, 3vw, 35px);
  color: black;
  line-height: 1.1;
}

.greeting-message {
  font-size: clamp(12px, 1.5vw, 14px);
  color: gray;
}

.notifications {
  text-align: right;
}

.notification-icons {
  display: flex;
  gap: 5px;
}

.notification-icons .notif-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  position: relative;
  margin-left: -14px;
}

.notification-icons .notif-img:first-child {
  margin-left: 0;
}

.notification-message {
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1;
}

.new-line-text {
  display: block;
}
