.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.btn-close-popup {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 100px;
}

.btn-submit-task {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #9acb34;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 100px;
}

.btn-close-popup:hover {
  background-color: #cc0000;
}

.popup-heading {
  color: black;
  font-size: 23px;
}
