/* Main grid container */
.dashboard-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main-content";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px; /* Space between grid items */
  padding: 20px;
  height: 100vh;
  transition: grid-template-columns 0.3s ease;
}

.dashboard-container.chat-expanded .grid-container {
  grid-template-areas: "box4 box4 box4";

  grid-template-rows: 100%;
}

.header {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 30px;
  border: 1px solid #8a8a8a;
}

/* Collapsed sidebar */
.dashboard-container.collapsed {
  grid-template-columns: 60px 1fr;
}

/* Floating effect for all sections */

.main-content {
  width: 100%;
  height: 100%;
}

.sidebar {
  background: white;
  border-radius: 15px;
  border: 1px solid #8a8a8a;
  padding: 20px;
}

/* Header */
.header {
  grid-area: header;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
  overflow: hidden;
  padding: 0px;
}

/* Main content */
.main-content {
  grid-area: main-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner grid inside main content */
.grid-container {
  display: grid;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box4 box4";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 1fr;
  gap: 15px;
  width: 100%;
  height: 100%;
  max-width: 97%;
}

/* Floating effect for boxes */
.box {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #8a8a8a;
  height: 100%;
}

.box-slidder {
  border: none;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
  transition: height 0.3s ease;
}

/* Minimized chat box */
.box4.minimized {
  height: calc(100vh - 350px);
}

/* Expanded chat box */
.box4.expanded {
  height: calc(100vh - 140px); /* Larger height when expanded */
}

/* Toggle button for chat expansion */
.expand-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 6px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #8a8a8a;
}
